[data-theme="light"] {
  --color: #000;
  --bg: #fff;
}
[data-theme="dark"] {
  --bg: #000;
  --color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  background: var(--bg);
  color: var(--color);
}

h1,
p {
  color: aqua;
}
